docker/turtlesim.json
[
    {
        "id": "a3ebc0eea59c5b7b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42037154b751165b",
        "type": "ROS2 Inject",
        "z": "a3ebc0eea59c5b7b",
        "types": [],
        "props": [
            {
                "p": "linear.x",
                "v": "1",
                "vt": "num",
                "t": "double"
            },
            {
                "p": "linear.y",
                "v": "",
                "vt": "num",
                "t": "double"
            },
            {
                "p": "linear.z",
                "v": "",
                "vt": "num",
                "t": "double"
            },
            {
                "p": "angular.x",
                "v": "",
                "vt": "num",
                "t": "double"
            },
            {
                "p": "angular.y",
                "v": "",
                "vt": "num",
                "t": "double"
            },
            {
                "p": "angular.z",
                "v": "",
                "vt": "num",
                "t": "double"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "ros2type": "geometry_msgs/Twist",
        "idltype": "",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "0f5651828663e38a"
            ]
        ],
        "outputLabels": [
            "forward"
        ]
    },
    {
        "id": "0f5651828663e38a",
        "type": "ROS2 Type",
        "z": "a3ebc0eea59c5b7b",
        "ros2pkg": "geometry_msgs",
        "ros2message": "Twist",
        "x": 400,
        "y": 80,
        "wires": [
            [
                "00e62d1805b9648e"
            ]
        ]
    },
    {
        "id": "00e62d1805b9648e",
        "type": "Publisher",
        "z": "a3ebc0eea59c5b7b",
        "topic": "turtle1/cmd_vel",
        "domain": "7739e2a243db81fa",
        "props": [],
        "selectedtype": "geometry_msgs/Twist",
        "x": 680,
        "y": 80,
        "wires": [
            [
                "d82ca8702b9768dc"
            ]
        ]
    },
    {
        "id": "0cc99e3c58a28f0e",
        "type": "ROS2 Inject",
        "z": "a3ebc0eea59c5b7b",
        "types": [],
        "props": [
            {
                "p": "linear.x",
                "v": "",
                "vt": "num",
                "t": "double"
            },
            {
                "p": "linear.y",
                "v": "",
                "vt": "num",
                "t": "double"
            },
            {
                "p": "linear.z",
                "v": "",
                "vt": "num",
                "t": "double"
            },
            {
                "p": "angular.x",
                "v": "",
                "vt": "num",
                "t": "double"
            },
            {
                "p": "angular.y",
                "v": "",
                "vt": "num",
                "t": "double"
            },
            {
                "p": "angular.z",
                "v": "1",
                "vt": "num",
                "t": "double"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "ros2type": "geometry_msgs/Twist",
        "idltype": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "0f5651828663e38a"
            ]
        ]
    },
    {
        "id": "ce0dc95062627c74",
        "type": "comment",
        "z": "a3ebc0eea59c5b7b",
        "name": "move forward",
        "info": "Move forward",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "8bedf41c9305eb23",
        "type": "comment",
        "z": "a3ebc0eea59c5b7b",
        "name": "spin",
        "info": "",
        "x": 130,
        "y": 160,
        "wires": []
    },
    {
        "id": "3cb9ed69ef56267c",
        "type": "debug",
        "z": "a3ebc0eea59c5b7b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "d82ca8702b9768dc",
        "type": "template",
        "z": "a3ebc0eea59c5b7b",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Forward {{linear.x}} Spin {{angular.z}}",
        "output": "str",
        "x": 880,
        "y": 80,
        "wires": [
            [
                "3cb9ed69ef56267c"
            ]
        ]
    },
    {
        "id": "7739e2a243db81fa",
        "type": "dds-settings",
        "domain": "0"
    }
]
