docker/turtlesim.json
[{"id":"0f5651828663e38a","type":"ROS2 Type","z":"a3ebc0eea59c5b7b","ros2pkg":"geometry_msgs","ros2message":"Twist","x":580,"y":380,"wires":[["00e62d1805b9648e"]]},{"id":"00e62d1805b9648e","type":"Publisher","z":"a3ebc0eea59c5b7b","topic":"turtle1/cmd_vel","domain":"7739e2a243db81fa","props":[],"selectedtype":"geometry_msgs/Twist","x":820,"y":380,"wires":[["d82ca8702b9768dc"]]},{"id":"0cc99e3c58a28f0e","type":"ROS2 Inject","z":"a3ebc0eea59c5b7b","types":[],"props":[{"p":"linear.x","v":"","vt":"num","t":"double"},{"p":"linear.y","v":"","vt":"num","t":"double"},{"p":"linear.z","v":"","vt":"num","t":"double"},{"p":"angular.x","v":"","vt":"num","t":"double"},{"p":"angular.y","v":"","vt":"num","t":"double"},{"p":"angular.z","v":"-1","vt":"num","t":"double"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","ros2type":"geometry_msgs/Twist","idltype":"","x":310,"y":340,"wires":[["0f5651828663e38a"]]},{"id":"8bedf41c9305eb23","type":"comment","z":"a3ebc0eea59c5b7b","name":"spin clockwise","info":"","x":310,"y":300,"wires":[]},{"id":"3cb9ed69ef56267c","type":"debug","z":"a3ebc0eea59c5b7b","name":"Sent command","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":380,"wires":[]},{"id":"d82ca8702b9768dc","type":"template","z":"a3ebc0eea59c5b7b","name":"msg prettify","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Forward {{linear.x}} Spin {{angular.z}}","output":"str","x":1010,"y":380,"wires":[["3cb9ed69ef56267c"]]},{"id":"aa5b04131c62bb19","type":"comment","z":"a3ebc0eea59c5b7b","name":"move forward","info":"Move forward","x":310,"y":200,"wires":[]},{"id":"e1a6f79f4c19935c","type":"ROS2 Inject","z":"a3ebc0eea59c5b7b","types":[],"props":[{"p":"linear.x","v":"1","vt":"num","t":"double"},{"p":"linear.y","v":"","vt":"num","t":"double"},{"p":"linear.z","v":"","vt":"num","t":"double"},{"p":"angular.x","v":"","vt":"num","t":"double"},{"p":"angular.y","v":"","vt":"num","t":"double"},{"p":"angular.z","v":"","vt":"num","t":"double"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","ros2type":"geometry_msgs/Twist","idltype":"","x":310,"y":240,"wires":[["0f5651828663e38a"]],"outputLabels":["forward"]},{"id":"1e1fe9ea4149458e","type":"keypress","z":"a3ebc0eea59c5b7b","key":"","x":120,"y":460,"wires":[["d53d1a1a97438805"]]},{"id":"d53d1a1a97438805","type":"function","z":"a3ebc0eea59c5b7b","name":"Key to cmd_vel","func":"let vel = { \n    \"linear\": { \n        \"x\": 0, \"y\": 0, \"z\": 0 \n    }, \n    \"angular\": { \n        \"x\": 0, \"y\": 0, \"z\": 0 \n    } \n}\n\nswitch (msg.payload.key) {\n    case 'up':\n        vel.linear.x = 1\n        break;\n    case 'down':\n        vel.linear.x = -1\n        break;\n    case 'left':\n        vel.angular.z = 1\n        break;\n    case 'right':\n        vel.angular.z = -1\n        break;\n    default:\n        console.log(`Not recognized key \"${msg.payload.key}\".`);\n}\nreturn vel","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":460,"wires":[["0f5651828663e38a"]]},{"id":"7739e2a243db81fa","type":"dds-settings","domain":"0"}]